<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>URLAUBSGLÜCK</title>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!--[if lte IE 9]>
		<script src="http://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
	<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
	<style>
		.ideas__item{border: 1px solid #ccc;}
		.discover__input{padding-top: 10px;}
	</style>
	<![endif]-->
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/main.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page__body">
	<!--Home button-->
	<div id="scroller" class="b-top" style="display: none;"><span class="b-top-but">HOME</span></div>

	<!--PROMO-->
	<div class="promo">
		<div class="promo__wrap">
			<header class="promo__header header">
				<div class="header__authentication">
					<a href="#" class="header__login">Log in
					</a><a href="#" class="header__sign">Sign up</a>
				</div>
				<div class="header__logo">URLAUBSGLÜCK</div>
			</header>
			<h1 class="promo__title">Share your <br/> holiday dreams</h1>
			<p class="promo__text">And find the perfect partner to fullfill it</p>
			<a href="#partner" class="promo__button">Find your holiday partner</a>
		</div>
	</div>
	<!--end of promo-->

	<!--HOW IT WORKS-->
	<section class="about clearfix">
		<div class="about__wrap clearfix">
			<h3 class="about__title">How Urlaubsglück works?</h3>
			<div class="about__steps jcarousel">
				<div class="step">
					<div class="step__content step1">
						<div class="step__content__info">
							<div class="step__number"><span>Step 1</span></div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
					<div class="step__content step2">
						<div class="step__content__info">
							<div class="step__number">Step 2</div>
							<span class="step__title">Morbi velit risus</span>
							<p class="step__text">
								Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
							</p>
						</div>
					</div>
					<div class="step__content step3">
						<div class="step__content__info">
							<div class="step__number">Step 3</div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
				</div>
				<div class="arrows clearfix">
					<span class="arrows__prev"></span>
					<span class="arrows__next"></span>
				</div>
			</div>
			<div class="about__steps jcarousel">
				<div class="step">
					<div class="step__content step2">
						<div class="step__content__info">
							<div class="step__number">Step 2</div>
							<span class="step__title">Morbi velit risus</span>
							<p class="step__text">
								Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
							</p>
						</div>
					</div>
					<div class="step__content step3">
						<div class="step__content__info">
							<div class="step__number">Step 3</div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
					<div class="step__content step1">
						<div class="step__content__info">
							<div class="step__number">Step 1</div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
				</div>
				<div class="arrows clearfix">
					<span class="arrows__prev"></span>
					<span class="arrows__next"></span>
				</div>
			</div>
			<div class="about__steps about__steps--last jcarousel">
				<div class="step step--last">
					<div class="step__content step3">
						<div class="step__content__info">
							<div class="step__number">Step 3</div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
					<div class="step__content step1">
						<div class="step__content__info">
							<div class="step__number">Step 1</div>
							<span class="step__title">Sed leo enim, condimentum</span>
							<p class="step__text">
								Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
							</p>
						</div>
					</div>
					<div class="step__content step2">
						<div class="step__content__info">
							<div class="step__number">Step 2</div>
							<span class="step__title">Morbi velit risus</span>
							<p class="step__text">
								Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
							</p>
						</div>
					</div>
				</div>
				<div class="arrows clearfix">
					<span class="arrows__prev"></span>
					<span class="arrows__next"></span>
				</div>
			</div>
		</div>
	</section>
	<!--end of how it works-->

	<!--PARTNERS-->
	<section class="partners" id="partner">
		<div class="partners__wrap clearfix">
			<h2 class="partners__title">Meet a partner for your best holiday</h2>
			<script type="text/template" id="partners__list">
				<ul class="partners__list clearfix">
					<% for (var key in partners) {%>
						<li class="partners__item partner_<%=[key]%>">
							<img src="<%=partners[key].photo %>" alt="<%=partners[key].name %>" title="<%=partners[key].name %>" class="partner__photo"/>
							<div class="partners__circle circle_<%=[key]%>">
								<div class="partners__icon icon_<%=[key]%>"></div>
							</div>
							<h3 class="partner__name"><%=partners[key].name %></h3>
							<p class="partner__text"><%=partners[key].hobby %></p>
						</li>
					<% }; %>
				</ul>
				<ul class="partners__list partners__list-hidden clearfix">
					<% for (var key in partners) {%>
						<li class="partners__item partner_<%=[key]%>">
							<img src="<%=partners[key].photo %>" alt="<%=partners[key].name %>" title="<%=partners[key].name %>" class="partner__photo"/>
							<div class="partners__circle circle_<%=[key]%>">
								<div class="partners__icon icon_<%=[key]%>"></div>
							</div>
							<h3 class="partner__name"><%=partners[key].name %></h3>
							<p class="partner__text"><%=partners[key].hobby %></p>
						</li>
					<% }; %>
				</ul>
			<a href="#" class="partners__button">See other partners</a>
			</script>
		</div>
	</section>
	<!--end of partners-->

	<!--IDEAS-->
	<section class="ideas">
		<div class="ideas__wrap">
			<h2 class="ideas__title">Discover holiday activity ideas</h2>
			<div class="ideas__data clearfix">
			</div>
			<section class="discover">
				<div class="discover__wrap">
					<p class="discover__title">Discover holiday activity ideas</p>
					<form class="discover__search" action="#">
						<p class="discover__intro">Hi! What are your holiday interests?</p>
						<input type="text" class="discover__input" placeholder="Enter your interests" required> 
						<button type="submit" class="discover__button">Search partners</button>
					</form>
				</div>
			</section>	
		</div>
	</section>
	<script type="text/template" id = "picture-template">
		<ul class="ideas__list">
			<% for (var i =0; i<img.photos.length; i++) { %>
				<li class="ideas__item<% if ((i==5)||(i==4)){%>
					ideas__item-double<%}%> animated zoomIn" style = "background: url(<%=img.photos[i]%>) center no-repeat; background-size: cover">
					<a href="<%=img.photos[i]%>" class="ideas__link fancybox"><span class="ideas__inner"><%=img.word[i]%></span></a>
				</li>
			<%}; %>
		</ul>
	</script>
	<!--end of ideas-->

	<footer class="footer">
		<div class="footer__wrap">
			<div class="footer__logo">URLAUBSGLÜCK</div>
			<div class="footer__item">
				<h2 class="footer__title">Company</h2>
				<ul class="list">
					<li class="list__item"><a href="#" class="list__link">About</a></li>
					<li class="list__item"><a href="#" class="list__link">Contacts</a></li>
					<li class="list__item"><a href="#" class="list__link">Press</a></li>
					<li class="list__item"><a href="#" class="list__link">Blog</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h2 class="footer__title">Partners</h2>
			</div>
			<div class="footer__author author">
				<span class="author__by">Designed by</span>
				<img src="img/copyright.png" alt="Areto Development" title="Areto Development" class="author__logo"/>
			</div>
		</div>
	</footer>
</body>
</html>
