$main-red:     #ff4e50;
$main-dark:    #333333;
$main-grey:    #cccccc;
$icon-green:   #1cd7ad;
$icon-orange:  #ffa507;
$icon-blue:    #4e73db;
$main-white:   #ffffff;
$text-size:    14px;
$font-main:   'Montserrat', Arial, 'Helvetica Neue', sans-serif;
$main-width:   940px;
$font-assist: 'Roboto', sans-serif;
